body {
	font: 16px/1.5 Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}
* {
	box-sizing: border-box;
}
.top-logo {
	font-weight: bold;
	background: #f1f1f1;
	width: 100%;
	margin: auto;
	color:#1f272c;
	text-align: center;
	overflow: hidden;
	font-size: 1.2em;
	padding-bottom: 0.2em;
	font-family: 'Open Sans', sans-serif;
}
.top-logo h1 {
	margin: 0;
	margin-top: 0.4em;
	margin-bottom: 0.8em;
}
.top-logo a {
	text-decoration: none;
	color: #1f272c;
}
.highlight {
	color: orange;
}
main {
	background-color: #f1f1f1;
	overflow: hidden;
}
.heading {
	color: #1f272c;
	background: #ffffff;
	width: 31%;
	margin: auto;
	padding: 0.9em;
	border-bottom: 1px solid #eee;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.heading h1 {
	margin: 0;
	font-size: 1.7em;
	text-align: center;
	color: #1f272c;
}
.main-container {
	display: grid;
	grid-template-columns: 1fr;
	width: 31%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 2em;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 1em;
	background: #ffffff;
	border-radius: 0px 0px 5px 5px;
}

.small {
	font-size: 11px;
	text-align: center;
}

.input p {
	padding: 0;
	margin: 0px;
	font-size: 14px;
	color: #1f272c;
	text-align: start;
	font-weight: bold;
}
input[type='email'],
input[type='password'],
input[type='text'] {
	width: 98%;
	padding: 0.9em;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: 0;
}
.signupbtn {
	color: #ffffff;
	padding: 0.5em 0.5em;
	width: 100%;
	font-size: 1em;
	outline: none;
	background: orange;
	cursor: pointer;
	border-radius: 4px;
	border: 0px;
	font-weight: bold;
}
.signupbtn:hover {
	background: rgb(243, 182, 68);
}
.already-user {
	display: block;
	width: 90%;
	margin: auto;
	margin-top: 0.8em;
	text-align: center;
	font-size: 0.8em;
}
.already-user a {
	color: red;
}

/****** Media query ********/

@media (max-width: 768px) {
	header .branding {
		padding: 0.5em;
		margin-top: 10px;
		float: none;
		text-align: center;
		width: 100%;
	}
	header nav {
		padding-bottom: 20px;
		margin: auto;
		float: none;
		text-align: center;
	}
	.main-container,.heading {
	width: 60%;
	}
	.already-user {
		margin: auto;
		margin-top: 10px;
	}
}
