body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #35424a;
  color: #fff;
  min-height: 4.5em;
}
header a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

header ul {
  margin: 0px;
  padding: 0px;
}
header li {
  display: inline;
}
header li a:hover {
  border-bottom: 2px solid #ffffff;
}
header .branding {
  float: left;
  margin-top: 0.6em;
}
header .branding h1 {
  margin: 0;
}
header nav {
  float: right;
  margin-top: 1.5em;
}

.highlight {
  font-weight: bold;
  color: red;
}
#showcase {
  min-height: 400px;
  background: url('../img/showcase3.jpg') no-repeat 0 -650px;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}
#showcase h1 {
  font-size: 55px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.scontainer .btn {
  padding: 14px 25px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  border-radius: 5px;
  border: 2px solid red;
  transition-duration: 0.7s;
}
.scontainer .btn:hover {
  background-color: #35424a;
}
#boxes {
  background: #fff;
  overflow: hidden;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}
#boxes p {
  text-align: center;
  margin-top: 0.5em;
  padding: 0.2em;
}
.boxes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  grid-gap: 0.5em;
  margin-bottom: 1em;
  width: 95%;
}
.boxes-container a {
  text-decoration: none;
  color: black;
}
.boxes-container h5,
.boxes-container h6 {
  text-align: start;
}
.boxes-container h6 {
  font-weight: bold;
  font-size: 1.1em;
  color: green;
}

.boxes-container .product-info {
  text-align: center;
}
.boxes-container .product-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 0.3em;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #fff;
  margin: auto;
}
.boxes-container .product-card img {
  width: 100%;
}
.boxes-container .product-card:hover {
  transform: scale(1.01);
}
.more {
  display: grid;
  justify-items: center;
  margin-top: 2.5em;
}
.more a {
  display: inline-block;
  background: #fff;
  border: 1px solid #1f272c;
  padding: 10px 16px;
  color: #35424a;
  text-decoration: none;
  border-radius: 4px;
  transition-duration: 0.7s;
}
.more a:hover {
  background: #35424a;
  color: #fff;
}
#how {
  background-color: #ffffff;
  margin-bottom: 7em;
  margin-top: 1em;
}
#how h2 {
  text-align: center;
  color: #35424a;
  margin-bottom: 1.2em;
}
.how-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.how-container h3 {
  margin-top: 10px;
  color: #35424a;
}
.how-container img {
  width: 120px;
  margin-top: 1.5em;
}
#newsletter {
  background-color: #455c69;
  color: #fff;
  padding: 15px;
}
.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#newsletter h3 {
  margin-top: 1.2em;
  margin-left: 5em;
}
#newsletter form {
  margin: 1em;
}

#newsletter input[type='email'] {
  width: 400px;
  height: 45px;
  padding: 4px;
  outline: 0;
  border-radius: 3px;
}
.news-btn {
  padding: 14px 40px;
  background-color: #35424a;
  color: #ffffff;
  outline: 0;
  transition-duration: 0.7s;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.news-btn:hover {
  background-color: #1f272c;
}

.fcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #2c363b;
  color: #ffffff;
  font-size: 13px;
  padding-left: 4em;
}
.fcontainer ul {
  list-style-type: none;
}
.fcontainer ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 1em 0.2em 0.2em 0.2em;
  color: #ffffff;
}
.fcontainer ul li a:hover {
  text-decoration: underline;
}
.fcontainer h3,
.fcontainer p {
  margin-top: 1em;
}
.fcontainer .pad {
  margin-left: 6%;
}
.social a {
  color: #ffffff;
  text-decoration: none;
}
